<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Hilfe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Bedienung der App:</h1>
  <h2>Grundsätzliche Funktion</h2>
  <p1>Auf der <a routerLink="/home">Startseite</a> können Sie Ihre Trainingsdaten eingeben. Wenn Sie den "Berechnen" Knopf drücken, berechnet die App Ihnen Ihren optimalen
    Trainingspuls. Die Maximale Herzfrequenz muss größer sein als der Ruhepuls
  </p1>
  <h2>Navigation</h2>
  <p1>Die Navigation erfolgt in der App über das Menü oben links in der Ecke. Darüber sind alle Seiten der App erreichbar</p1>
  <ion-img src="./assets/images/navbild.jpg"></ion-img>
  <h2>Historienseite</h2>
  <p1>Auf der Historienseite können alte Berechnungen nochmal angeschaut werden. 
    Sie können alte Berechnungen ganz einfach mit Swipe-to-Delete löschen</p1>
    <ion-img src="./assets/gifs/deletegif.gif"></ion-img>
  <h2>Formel</h2>
  <p1></p1>
</ion-content>
